.login-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #c53510;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4b1a07;
  }
  
  .success-message {
    color: #28a745;
    margin-top: 10px;
  }
  